@charset "utf-8";
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  clear: both;
  zoom: 1;
}
.clearfix::before {
  content: "";
  display: table;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.fill {
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fixed-bottom {
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.fixed-top {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
.fill-fixed {
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fill-absolute {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.block-invisible {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.block-center-fixed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.float-wrapper {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
html {
  color: white;
  background: #0B2242;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background: transparent;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}
a {
  color: inherit;
  text-decoration: none;
}
.block-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.block-actions-menu {
  display: inline-block;
  margin-right: 117px;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  margin-bottom: 30px;
  line-height: 46px;
  width: 280px;
}
.block-actions-menu .label {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  vertical-align: top;
}
.block-actions-menu a.btn {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: 50% 50% no-repeat;
  vertical-align: top;
}
.block-actions-menu a.btn.btn-add {
  background-image: url(../img/add_icon.png);
}
.block-actions-menu a.btn.btn-delete {
  background-image: url(../img/delete_icon.png);
}
.block-actions-menu a.btn.btn-edit {
  background-image: url(../img/edit_icon.png);
}
.block-actions-menu a.btn.btn-reload {
  background-image: url(../img/refresh_icon.png);
}
label.check-widget {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: 15px;
}
label.check-widget .icon {
  display: block;
  background: url(../img/uncheck_icon.png) 50% 50% no-repeat;
  width: 18px;
  height: 18px;
}
label.check-widget input[type="checkbox"] {
  display: none;
}
label.check-widget input[type="checkbox"]:checked + .icon {
  background-image: url(../img/check_icon.png);
}
.pretty-box-dark {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
}
.pretty-box-dark::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
.pretty-box-dark::before {
  background-color: #0E234B;
}
#masthead {
  margin: 45px auto 30px auto;
  width: 1828px;
  clear: both;
  zoom: 1;
}
#masthead::before {
  content: "";
  display: table;
}
#masthead::after {
  content: "";
  display: table;
  clear: both;
}
#masthead .block-title {
  float: left;
  width: 1548px;
  height: 96px;
  background: url(../img/head.png);
}
#masthead .block-user {
  float: right;
  width: 255px;
  height: 90px;
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  z-index: 1;
}
#masthead .block-user::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#masthead .block-user .content {
  line-height: 90px;
  font-size: 20px;
  text-align: center;
  padding: 0 30px;
  color: #95e8ff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#masthead .block-user .content .avatar {
  display: inline-block;
  vertical-align: top;
  border: 0;
  width: 40px;
  height: 40px;
  margin-top: 28px;
  margin-right: 0.8em;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#masthead .block-user:hover .dropdown {
  display: block;
}
#masthead .block-user .dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 50%;
  margin-top: -14px;
  margin-left: -91px;
  width: 181px;
  height: 130px;
  background: url(../img/shexiangtou_bg.png);
}
#masthead .block-user .dropdown ul.menu-list {
  height: 98px;
  margin-top: 20px;
  text-align: center;
}
#masthead .block-user .dropdown ul.menu-list li.menu-item {
  height: 48px;
  line-height: 48px;
  margin: 0 auto;
  width: 110px;
}
#masthead .block-user .dropdown ul.menu-list li.menu-item:first-child {
  border-bottom: 1px solid #0bedfc;
}
#masthead .block-user .dropdown ul.menu-list li.menu-item a {
  display: block;
}
#masthead .block-user .dropdown ul.menu-list li.menu-item a:hover {
  color: #12f1ff;
}
#sidebar {
  float: left;
  width: 250px;
}
#sidebar ul.sidebar-list li.sidebar-item {
  width: 236px;
  height: 94px;
  margin: 0 auto 52px -6px;
  background: 50% 50% no-repeat;
}
#sidebar ul.sidebar-list li.sidebar-item.menu-index {
  background-image: url(../img/home_unclick.png);
}
#sidebar ul.sidebar-list li.sidebar-item.active.menu-index {
  background-image: url(../img/home_click.png);
}
#sidebar ul.sidebar-list li.sidebar-item.menu-static-map {
  background-image: url(../img/jingtai_unclick.png);
}
#sidebar ul.sidebar-list li.sidebar-item.active.menu-static-map {
  background-image: url(../img/jingtai_click.png);
}
#sidebar ul.sidebar-list li.sidebar-item.menu-dynamic-map {
  background-image: url(../img/home_unclick.png);
}
#sidebar ul.sidebar-list li.sidebar-item.active.menu-dynamic-map {
  background-image: url(../img/home_click.png);
}
#sidebar ul.sidebar-list li.sidebar-item.menu-plan {
  background-image: url(../img/yingji_unclick.png);
}
#sidebar ul.sidebar-list li.sidebar-item.active.menu-plan {
  background-image: url(../img/yingji_click.png);
}
#sidebar ul.sidebar-list li.sidebar-item.menu-urgency {
  background-image: url(../img/xianqing_unclick.png);
}
#sidebar ul.sidebar-list li.sidebar-item.active.menu-urgency {
  background-image: url(../img/xianqing_click.png);
}
#sidebar ul.sidebar-list li.sidebar-item a {
  display: block;
  height: 94px;
}
.layer-background {
  position: relative;
  min-height: 1080px;
  width: 1828px;
  margin: 0 auto;
  background: #0B2242 url(../img/big_bg.png) 50% 0 no-repeat;
  padding: 0 75px;
  overflow: auto;
}
.layer-background > .content {
  padding-top: 6px;
}
.layer-background > .content.with-sidebar {
  margin-left: 252px;
}
.block-classification {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  width: 371px;
}
.block-classification::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
.block-classification::before {
  border-color: #458DAF;
}
.block-classification ul.class-list {
  line-height: 50px;
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  margin: 3px;
}
.block-classification ul.class-list label {
  display: block;
  text-align: center;
}
.block-classification ul.class-list label .check-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/uncheck_icon.png);
  vertical-align: top;
  margin: 16px;
}
.block-classification ul.class-list label input[type="checkbox"] {
  display: none;
}
.block-classification ul.class-list label input[type="checkbox"]:checked + .check-icon {
  background-image: url(../img/check_icon.png);
}
.block-classification ul.class-list li.class-item {
  font-size: 22px;
  color: #95e8ff;
}
.block-classification ul.class-list li.class-item.collapsed ::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.block-classification ul.class-list li.class-item.collapsed ul.submenu {
  height: 0;
}
.block-classification ul.class-list li.class-item > label {
  margin: 0 12px;
  border-bottom: 1px solid #374873;
}
.block-classification ul.class-list li.class-item > label::after {
  content: "";
  background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
  height: 46px;
  width: 46px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.block-classification ul.class-list li.class-item:not(:last-child) {
  border-bottom: 1px solid #374873;
}
.block-classification ul.class-list ul.submenu {
  margin: 12px 0;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
}
.block-classification ul.class-list li.class-subitem {
  font-size: 19px;
  color: #9bb5d7;
}
.block-classification ul.class-list li.class-subitem.active {
  color: #1dff82;
}
.block-classification ul.class-list li.class-subitem label {
  line-height: 50px;
}
.dialog-edit-plan {
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(128, 128, 128, 0.5);
}
.dialog-edit-plan .dialog-window {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 875px;
  height: 460px;
  margin: auto;
}
.dialog-edit-plan .dialog-window::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
.dialog-edit-plan .dialog-window::before {
  background-color: #0E234B;
}
.dialog-edit-plan .dialog-window::before {
  border-color: #458DAF;
}
.dialog-edit-plan .dialog-window .dialog-header {
  border-bottom: 1px solid #374873;
  line-height: 64px;
  text-align: center;
  font-size: 20px;
  color: #95e8ff;
  margin: -3px;
}
.dialog-edit-plan .dialog-window .dialog-body {
  padding: 30px;
}
.dialog-edit-plan .dialog-window .dialog-body .row {
  padding: 12px 0;
  clear: both;
  zoom: 1;
}
.dialog-edit-plan .dialog-window .dialog-body .row::before {
  content: "";
  display: table;
}
.dialog-edit-plan .dialog-window .dialog-body .row::after {
  content: "";
  display: table;
  clear: both;
}
.dialog-edit-plan .dialog-window .dialog-body .row .label {
  float: left;
  width: 240px;
  margin-right: 64px;
  font-size: 18px;
  text-align: right;
  color: #9bb5d7;
  line-height: 48px;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control {
  float: left;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select {
  width: 360px;
  line-height: 46px;
  height: 46px;
  border: 1px solid #447D98;
  background: transparent;
  text-align: center;
  font-size: 20px;
  color: inherit;
  position: relative;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select.expanded .text::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select.expanded .dropdown {
  display: block;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select .text {
  text-align: center;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select .text::after {
  content: "";
  background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
  height: 46px;
  width: 46px;
  display: inline-block;
  vertical-align: top;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select .dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #447D98;
  margin: 0 -1px;
  color: #9bb5d7;
  font-size: 18px;
  background: #0E234B;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select .dropdown ul.dropdown-list {
  padding: 0 30px;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select .dropdown ul.dropdown-list li {
  border-bottom: 1px solid #447D98;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control .select .dropdown ul.dropdown-list li a {
  display: block;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control input {
  width: 360px;
  line-height: 46px;
  height: 46px;
  border: 1px solid #447D98;
  background: transparent;
  text-align: center;
  font-size: 20px;
  color: inherit;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control input::-webkit-input-placeholder {
  color: white;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control input::-moz-placeholder {
  color: white;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control input:-moz-placeholder {
  color: white;
}
.dialog-edit-plan .dialog-window .dialog-body .row .control input:-ms-input-placeholder {
  color: white;
}
.dialog-edit-plan .dialog-window .row-action {
  text-align: center;
  margin-top: 30px;
}
.dialog-edit-plan .dialog-window .row-action .btn {
  display: inline-block;
  width: 179px;
  height: 73px;
  line-height: 73px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 30px;
}
.dialog-edit-plan .dialog-window .row-action .btn-cancel {
  background: url(../img/btn_cancel.png) 50% 50% no-repeat;
  color: #F4E67C;
}
.dialog-edit-plan .dialog-window .row-action .btn-submit {
  color: #12f1ff;
  background: url(../img/btn_submit.png) 50% 50% no-repeat;
}
#dialog-change-password {
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(128, 128, 128, 0.5);
}
#dialog-change-password .dialog-window {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 875px;
  height: 460px;
  margin: auto;
}
#dialog-change-password .dialog-window::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#dialog-change-password .dialog-window::before {
  background-color: #0E234B;
}
#dialog-change-password .dialog-window::before {
  border-color: #458DAF;
}
#dialog-change-password .dialog-window .dialog-header {
  border-bottom: 1px solid #374873;
  line-height: 64px;
  text-align: center;
  font-size: 20px;
  color: #95e8ff;
  margin: -3px;
}
#dialog-change-password .dialog-window .dialog-body {
  padding: 30px;
}
#dialog-change-password .dialog-window .dialog-body .row {
  padding: 12px 0;
  clear: both;
  zoom: 1;
}
#dialog-change-password .dialog-window .dialog-body .row::before {
  content: "";
  display: table;
}
#dialog-change-password .dialog-window .dialog-body .row::after {
  content: "";
  display: table;
  clear: both;
}
#dialog-change-password .dialog-window .dialog-body .row .label {
  float: left;
  width: 240px;
  margin-right: 64px;
  font-size: 18px;
  text-align: right;
  color: #9bb5d7;
  line-height: 48px;
}
#dialog-change-password .dialog-window .dialog-body .row .control {
  float: left;
}
#dialog-change-password .dialog-window .dialog-body .row .control input {
  width: 360px;
  line-height: 46px;
  height: 46px;
  border: 1px solid #447D98;
  background: transparent;
  text-align: center;
  font-size: 20px;
  color: inherit;
}
#dialog-change-password .dialog-window .dialog-body .row .control input::-webkit-input-placeholder {
  color: white;
}
#dialog-change-password .dialog-window .dialog-body .row .control input::-moz-placeholder {
  color: white;
}
#dialog-change-password .dialog-window .dialog-body .row .control input:-moz-placeholder {
  color: white;
}
#dialog-change-password .dialog-window .dialog-body .row .control input:-ms-input-placeholder {
  color: white;
}
#dialog-change-password .dialog-window .dialog-body .row-action {
  text-align: center;
  margin-top: 30px;
}
#dialog-change-password .dialog-window .dialog-body .row-action .btn {
  display: inline-block;
  width: 179px;
  height: 73px;
  line-height: 73px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 30px;
}
#dialog-change-password .dialog-window .dialog-body .row-action .btn-cancel {
  background: url(../img/btn_cancel.png) 50% 50% no-repeat;
  color: #F4E67C;
}
#dialog-change-password .dialog-window .dialog-body .row-action .btn-submit {
  color: #12f1ff;
  background: url(../img/btn_submit.png) 50% 50% no-repeat;
}
#page.page-index .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
}
#page.page-index .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-index .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-index .block-subtitle::after {
  content: "";
  display: block;
  float: left;
  width: 58px;
  height: 58px;
  background: url(../img/notice_icon.png) 60% 50% no-repeat;
}
#page.page-index .block-info {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#page.page-index .block-info::before {
  content: "";
  display: block;
  float: left;
  width: 46px;
  height: 46px;
  background: url(../img/minbing_title.png) 60% 50% no-repeat;
}
#page.page-index .content-body .camera-menu {
  width: 200px;
  font-size: 20px;
  float: left;
}
#page.page-index .content-body .camera-menu ul.menu-list {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  text-align: center;
  padding: 12px;
  line-height: 56px;
}
#page.page-index .content-body .camera-menu ul.menu-list li.menu-item {
  position: relative;
}
#page.page-index .content-body .camera-menu ul.menu-list li.menu-item a {
  display: block;
}
#page.page-index .content-body .camera-menu ul.menu-list li.menu-item.active {
  color: #FDEE85;
}
#page.page-index .content-body .camera-menu ul.menu-list li.menu-item.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 2.2em;
  margin-left: -1.1em;
  height: 2px;
  background-color: #FDEE85;
}
#page.page-index .content-body .block-video {
  position: relative;
  height: 684px;
  margin-left: 226px;
  background: rgba(0, 0, 0, 0.3);
}
#page.page-index .content-body .block-video .video {
  border: 0;
  width: 100%;
  height: 100%;
}
#page.page-login .layer-background {
  background-image: url(../img/degnlu_bg.png);
  width: auto;
}
#page.page-login .content .block-title {
  height: 315px;
  margin-top: 48px;
  background: url(../img/head_title.png) 50% 0 no-repeat;
}
#page.page-login .content .form {
  width: 620px;
  height: 385px;
  margin: 0 auto;
  background: url(../img/denglu_box.png) 50% 0 no-repeat;
  padding-top: 85px;
}
#page.page-login .content .form .form-row {
  height: 110px;
  width: 436px;
  margin: 0 auto;
  background: url(../img/denglu_iput_box.png) 50% 0 no-repeat;
}
#page.page-login .content .form .form-row input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: block;
  outline: none;
  border: none;
  background: transparent url(../img/denglu_mima_icon.png) 20px 50% no-repeat;
  float: left;
  margin-top: 2px;
  padding-left: 64px;
  color: #95e8ff;
  font-size: 24px;
}
#page.page-login .content .form .form-row input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-login .content .form .form-row input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-login .content .form .form-row input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-login .content .form .form-row input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-login .content .form .form-row input[type="password"] {
  background-image: url(../img/denglu_zhanghao_icon.png);
}
#page.page-login .content .form .action {
  padding-top: 23px;
}
#page.page-login .content .form .action a.btn-login {
  display: block;
  width: 319px;
  height: 83px;
  line-height: 83px;
  margin: 0 auto;
  background: url(../img/denglu_btn.png) 50% 0 no-repeat;
  color: #12f1ff;
  font-size: 24px;
  letter-spacing: 0.8em;
  text-decoration: none;
  text-align: center;
}
#page.page-map-dynamic label.check-widget {
  margin-left: 0;
}
#page.page-map-dynamic .block-duration .label {
  margin-left: 38px;
}
#page.page-map-dynamic .section-property {
  width: 470px;
  float: right;
}
#page.page-map-dynamic .section-property .block-tasks {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
}
#page.page-map-dynamic .section-property .block-tasks::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-map-dynamic .section-property .block-tasks::before {
  background-color: #0A2241;
}
#page.page-map-dynamic .section-property .block-tasks .header {
  background: #10254D;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  color: #12f1ff;
}
#page.page-map-dynamic .section-property .block-tasks .header .btn-meeting {
  float: right;
  line-height: 34px;
  margin-top: 7px;
  border: 1px solid #66CAE7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #FDFB58;
  font-size: 16px;
  padding: 0 15px;
}
#page.page-map-dynamic .section-property .block-tasks.collapsed .dropdown-bar .label::after {
  background-image: url(../img/dongtai_renwu_close_icon.png);
}
#page.page-map-dynamic .section-property .block-tasks .body {
  padding: 0 12px;
  text-align: center;
}
#page.page-map-dynamic .section-property .block-tasks .body table.table-content {
  width: 100%;
  line-height: 44px;
  font-size: 16px;
  margin-bottom: 15px;
}
#page.page-map-dynamic .section-property .block-tasks .body table.table-content thead {
  font-size: 18px;
  line-height: 48px;
  border-bottom: 1px solid #374873;
}
#page.page-map-dynamic .section-property .block-tasks .body table.table-content tbody td:first-child,
#page.page-map-dynamic .section-property .block-tasks .body table.table-content tbody td:last-child {
  color: #95e8ff;
}
#page.page-map-dynamic .section-detail {
  width: 1072px;
  float: left;
}
#page.page-map-dynamic .section-detail .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 64px;
}
#page.page-map-dynamic .section-detail .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-map-dynamic .section-detail .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-map-dynamic .section-detail .block-select {
  font-size: 20px;
  margin: 16px 0;
}
#page.page-map-dynamic .section-detail .block-select .item-group {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  width: 200px;
  line-height: 46px;
  display: inline-block;
  margin-right: 20px;
}
#page.page-map-dynamic .section-detail .block-select .item-group .label {
  text-align: center;
  padding-left: 30px;
}
#page.page-map-dynamic .section-detail .block-select .item-group .label::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: top;
  background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
}
#page.page-map-dynamic .section-detail .block-select .item-group select.group-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  font-size: 20px;
  width: 100%;
  opacity: 0;
}
#page.page-map-dynamic .section-detail .block-name,
#page.page-map-dynamic .section-detail .block-duration {
  font-size: 20px;
  margin-bottom: 18px;
}
#page.page-map-dynamic .section-detail .block-name .label,
#page.page-map-dynamic .section-detail .block-duration .label {
  display: inline-block;
  margin-right: 20px;
  line-height: 48px;
}
#page.page-map-dynamic .section-detail .block-name .input,
#page.page-map-dynamic .section-detail .block-duration .input {
  line-height: 46px;
  height: 46px;
  background-color: #162f59;
  border: 1px solid #4a96ba;
  display: inline-block;
}
#page.page-map-dynamic .section-detail .block-name .input.input-name,
#page.page-map-dynamic .section-detail .block-duration .input.input-name {
  width: 200px;
}
#page.page-map-dynamic .section-detail .block-name .input.input-time,
#page.page-map-dynamic .section-detail .block-duration .input.input-time {
  width: 280px;
}
#page.page-map-dynamic .section-detail .block-name .input input,
#page.page-map-dynamic .section-detail .block-duration .input input {
  width: 100%;
  background: none;
  border: none;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: inherit;
  color: white;
}
#page.page-map-dynamic .section-detail .block-name .input input::-webkit-input-placeholder,
#page.page-map-dynamic .section-detail .block-duration .input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-map-dynamic .section-detail .block-name .input input::-moz-placeholder,
#page.page-map-dynamic .section-detail .block-duration .input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-map-dynamic .section-detail .block-name .input input:-moz-placeholder,
#page.page-map-dynamic .section-detail .block-duration .input input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-map-dynamic .section-detail .block-name .input input:-ms-input-placeholder,
#page.page-map-dynamic .section-detail .block-duration .input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#page.page-map-dynamic .section-detail .block-name .separator,
#page.page-map-dynamic .section-detail .block-duration .separator {
  display: inline-block;
  width: 34px;
  height: 48px;
  position: relative;
  vertical-align: top;
}
#page.page-map-dynamic .section-detail .block-name .separator::after,
#page.page-map-dynamic .section-detail .block-duration .separator::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 7px;
  background: #4a96ba;
}
#page.page-map-dynamic .section-detail .block-name .btn-search,
#page.page-map-dynamic .section-detail .block-duration .btn-search {
  width: 179px;
  height: 73px;
  line-height: 73px;
  background: url(../img/dongtai_search_btn.png);
  display: inline-block;
  vertical-align: top;
  margin: -12.5px 40px;
  text-align: center;
  font-size: 23px;
  color: #12f1ff;
  font-weight: bold;
}
#page.page-map-dynamic .section-detail .block-map {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  background: #0C133D;
  height: 770px;
  margin-bottom: 45px;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item {
  position: absolute;
  font-size: 18px;
  width: 48px;
  height: 48px;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item.active .avatar img {
  margin: 0;
  width: 48px;
  height: 48px;
  border: 0;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .avatar {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 24px;
  margin-top: 40px;
  clear: both;
  zoom: 1;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .avatar::before {
  content: "";
  display: table;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .avatar::after {
  content: "";
  display: table;
  clear: both;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .avatar img {
  margin: 5px;
  width: 30px;
  height: 30px;
  display: block;
  border: 4px solid #79e5fb;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item.active .soldier-detail {
  display: block;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .soldier-detail {
  display: none;
  position: absolute;
  width: 280px;
  bottom: 100%;
  left: 50%;
  margin-left: -156px;
  border: 1px solid #69ceeb;
  padding: 10px 32px 30px 32px;
  font-size: 18px;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .soldier-detail .row {
  line-height: 22px;
  margin-bottom: 10px;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .soldier-detail .row.row-name .name {
  color: #1dff82;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .soldier-detail .btn-talk {
  color: #12f1ff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -78px;
  margin-top: -32px;
  width: 157px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background: url(../img/dongtai_tanchu_btn.png);
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .soldier-detail::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: -32px;
  width: 81px;
  height: 105px;
  background: url(../img/dongtai_box_1.png) no-repeat;
}
#page.page-map-dynamic .section-detail .block-map ul.soldier-list li.soldier-item .soldier-detail::after {
  content: "";
  display: block;
  position: absolute;
  right: -30px;
  top: -24px;
  width: 59px;
  height: 60px;
  background: url(../img/dongtai_box_2.png) no-repeat;
}
#page.page-map-static .section-property {
  width: 470px;
  float: right;
}
#page.page-map-static .section-property .block-introduction {
  font-size: 18px;
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
}
#page.page-map-static .section-property .block-introduction::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-map-static .section-property .block-introduction::before {
  background-color: #0A2241;
}
#page.page-map-static .section-property .block-introduction .header {
  background: #10254D;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  color: #12f1ff;
}
#page.page-map-static .section-property .block-introduction .content {
  padding: 25px 30px;
  min-height: 262px;
  line-height: 32px;
}
#page.page-map-static .section-property .block-introduction .content p {
  text-indent: 2em;
}
#page.page-map-static .section-property .block-soldiers {
  margin-top: 25px;
  font-size: 18px;
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
}
#page.page-map-static .section-property .block-soldiers::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-map-static .section-property .block-soldiers::before {
  background-color: #0A2241;
}
#page.page-map-static .section-property .block-soldiers .header {
  background: #10254D;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  color: #12f1ff;
}
#page.page-map-static .section-property .block-soldiers .body {
  padding: 0 12px;
  text-align: center;
}
#page.page-map-static .section-property .block-soldiers .body table.table-soldiers {
  width: 100%;
  line-height: 44px;
  font-size: 16px;
  margin-bottom: 15px;
}
#page.page-map-static .section-property .block-soldiers .body table.table-soldiers thead th {
  border-bottom: 1px solid #374873;
}
#page.page-map-static .section-property .block-soldiers .body table.table-soldiers tbody td:first-child {
  color: #95e8ff;
}
#page.page-map-static .section-property .block-soldiers .body table.table-soldiers tbody td .btn-call {
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/tele_icon.png);
}
#page.page-map-static .section-detail {
  width: 1072px;
  float: left;
}
#page.page-map-static .section-detail .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 64px;
}
#page.page-map-static .section-detail .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-map-static .section-detail .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-map-static .section-detail .block-select {
  font-size: 20px;
  margin: 16px 0;
}
#page.page-map-static .section-detail .block-select .item-group {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  width: 200px;
  line-height: 46px;
}
#page.page-map-static .section-detail .block-select .item-group .label {
  text-align: center;
  padding-left: 30px;
}
#page.page-map-static .section-detail .block-select .item-group .label::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: top;
  background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
}
#page.page-map-static .section-detail .block-select .item-group select.group-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  font-size: 20px;
  width: 100%;
  opacity: 0;
}
#page.page-map-static .section-detail .block-map {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  background: #0C133D;
  height: 770px;
  margin-bottom: 45px;
}
#page.page-map-static .section-detail .block-map .block-legend {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #407A9D;
  padding: 0 16px;
  width: 150px;
}
#page.page-map-static .section-detail .block-map .block-legend .label {
  text-align: center;
  border-bottom: 1px solid #374873;
}
#page.page-map-static .section-detail .block-map .block-legend .label::after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: top;
  background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
}
#page.page-map-static .section-detail .block-map .block-legend .menu ul.menu-list li.menu-item {
  font-size: 18px;
  color: #7C92B2;
  line-height: 43px;
}
#page.page-map-static .section-detail .block-map .block-legend .menu ul.menu-list li.menu-item .check-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/uncheck_icon.png);
  vertical-align: top;
  margin: 12px;
}
#page.page-map-static .section-detail .block-map .block-legend .menu ul.menu-list li.menu-item input[type="checkbox"] {
  display: none;
}
#page.page-map-static .section-detail .block-map .block-legend .menu ul.menu-list li.menu-item input[type="checkbox"]:checked + .check-icon {
  background-image: url(../img/check_icon.png);
}
#page.page-map-static .section-detail .block-map ul.group-list li.group-item {
  position: absolute;
  font-size: 14px;
  line-height: 1em;
}
#page.page-map-static .section-detail .block-map ul.group-list li.group-item::before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  background: rgba(253, 238, 133, 0.1);
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-bottom: 8px;
  margin-left: -19px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#page.page-map-static .section-detail .block-map ul.group-list li.group-item::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #FDEE85;
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-bottom: 20px;
  margin-left: -7px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#page.page-meeting .dialog {
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(128, 128, 128, 0.5);
}
#page.page-meeting .dialog .dialog-window {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1224px;
  height: 687px;
  margin: auto;
}
#page.page-meeting .dialog .dialog-window .dialog-header {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  line-height: 50px;
  padding-left: 80px;
  font-size: 24px;
  color: #95e8ff;
  margin: -3px;
}
#page.page-meeting .dialog .dialog-window .dialog-header::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-meeting .dialog .dialog-window .dialog-header::before {
  background-color: #0E234B;
}
#page.page-meeting .dialog .dialog-window .dialog-header::before {
  border-color: #458DAF;
}
#page.page-meeting .dialog .dialog-window .dialog-header .btn-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 3px;
  top: 3px;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
#page.page-meeting .dialog .dialog-window .dialog-body {
  height: 632px;
  position: relative;
}
#page.page-meeting .dialog .dialog-window .dialog-body .block-video {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 875px;
  height: 520px;
  margin: auto;
  border: 2px solid #60B9D4;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
#page.page-meeting .dialog .dialog-window .dialog-body .block-video video {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  overflow: auto;
  font-size: 16px;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list {
  padding: 24px 28px;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list li.user-item {
  position: relative;
  width: 116px;
  height: 116px;
  border: 2px solid #CCCCCC;
  margin-top: 24px;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list li.user-item a {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list li.user-item .label {
  position: relative;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list li.user-item .full-message {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 38px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 20px;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list li.user-item.connecting a {
  background: #1B1E36 url(../img/rentou_icon.png) 50% 50% no-repeat;
}
#page.page-meeting .dialog .dialog-window .dialog-body .participants ul.user-list li.user-item.connecting .label {
  background: transparent;
}
#page.page-meeting .content .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 82px;
}
#page.page-meeting .content .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-meeting .content .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-meeting .content .block-subtitle .btn-close {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  background: url(../img/close_icon.png) 50% 50% no-repeat;
}
#page.page-meeting .content .block-search {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  margin: 18px 0 20px 0;
  height: 46px;
  line-height: 46px;
  width: 260px;
}
#page.page-meeting .content .block-search input {
  font-size: 20px;
  width: 100%;
  border: 0;
  height: 46px;
  line-height: 46px;
  padding-left: 46px;
  background: transparent url(../img/search_icon.png) 6% 50% no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page.page-meeting .content .block-search input::-webkit-input-placeholder {
  color: #9bb5d7;
}
#page.page-meeting .content .block-search input::-moz-placeholder {
  color: #9bb5d7;
}
#page.page-meeting .content .block-search input:-moz-placeholder {
  color: #9bb5d7;
}
#page.page-meeting .content .block-search input:-ms-input-placeholder {
  color: #9bb5d7;
}
#page.page-meeting .content .block-content {
  min-height: 680px;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  background: #0C133D;
  border-color: #374873;
}
#page.page-meeting .content .block-content .block-list {
  float: left;
  margin: -1px 0 0 -1px;
  width: 220px;
  text-align: center;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
}
#page.page-meeting .content .block-content .block-list .block-title {
  border-bottom: 1px solid #458DAF;
  line-height: 47px;
  font-size: 22px;
  padding-right: 47px;
}
#page.page-meeting .content .block-content .block-list .block-title:before {
  content: "";
  width: 47px;
  height: 47px;
  display: inline-block;
  vertical-align: top;
  background: url(../img/minbing_title.png) 50% 50% no-repeat;
}
#page.page-meeting .content .block-content .block-list ul.soldier-list {
  font-size: 19px;
}
#page.page-meeting .content .block-content .block-list ul.soldier-list li.soldier-item {
  color: #95e8ff;
  line-height: 50px;
}
#page.page-meeting .content .block-content .block-list ul.soldier-list li.soldier-item.selected {
  font-size: 20px;
  color: white;
}
#page.page-meeting .content .block-content .block-list ul.soldier-list li.soldier-item a {
  display: block;
}
#page.page-meeting .content .block-content .block-action {
  float: left;
  padding: 130px 44px;
}
#page.page-meeting .content .block-content .block-action ul.menu-list li.menu-item {
  width: 168px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
}
#page.page-meeting .content .block-content .block-action ul.menu-list li.menu-item a {
  display: block;
  background: url(../img/delete_btn.png) 50% 50% no-repeat;
}
#page.page-meeting .content .block-content .block-selected {
  float: left;
  margin-left: 66px;
  width: 840px;
}
#page.page-meeting .content .block-content .block-selected .block-title {
  line-height: 47px;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
}
#page.page-meeting .content .block-content .block-selected .block-title::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 47px;
  height: 47px;
  margin-left: 14px;
  background: url(../img/minbing_title.png) 50% 50% no-repeat;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list {
  clear: both;
  zoom: 1;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list::before {
  content: "";
  display: table;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list::after {
  content: "";
  display: table;
  clear: both;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  display: inline-block;
  float: left;
  margin-bottom: 18px;
  line-height: 47px;
  width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 28px;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item:nth-child(2n) {
  margin-left: 40px;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item .row {
  font-size: 18px;
  color: #12f1ff;
  letter-spacing: 0;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item .row .label {
  font-size: 17px;
  color: white;
  margin-right: 1em;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item .row .item {
  float: left;
}
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item .row .item-name,
#page.page-meeting .content .block-content .block-selected ul.soldier-list li.soldier-item .row .item-title {
  display: inline-block;
  width: 50%;
}
#page.page-meeting .content .block-content .block-selected .row-action {
  margin-top: 58px;
}
#page.page-meeting .content .block-content .block-selected .row-action a.btn-start {
  display: inline-block;
  margin-left: -6px;
  width: 319px;
  height: 83px;
  line-height: 83px;
  background: url(../img/huiyi_btn.png);
  font-size: 23px;
  color: #12f1ff;
  font-weight: bold;
  text-align: center;
}
#page.page-urgency .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 82px;
  margin-bottom: 30px;
}
#page.page-urgency .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-urgency .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-urgency .section-detail {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  border-color: #374873;
  padding-left: 177px;
}
#page.page-urgency .section-detail .section {
  width: 994px;
}
#page.page-urgency .section-detail .section-event-list {
  padding-top: 20px;
}
#page.page-urgency .section-detail .section-event-list table.table-event {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
#page.page-urgency .section-detail .section-event-list table.table-event th,
#page.page-urgency .section-detail .section-event-list table.table-event td {
  border: 1px solid #5AAECD;
}
#page.page-urgency .section-detail .section-event-list table.table-event th {
  font-size: 24px;
}
#page.page-urgency .section-detail .section-event-list table.table-event tr.active {
  color: #1DFF82;
}
#page.page-urgency .section-detail .section-tab {
  margin-top: 24px;
}
#page.page-urgency .section-detail .section-tab .tab {
  display: inline-block;
  margin-right: 18px;
  width: 168px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: url(../img/shijian_uncheck_btn.png) 50% 50% no-repeat;
  font-size: 20px;
}
#page.page-urgency .section-detail .section-tab .tab.active {
  background-image: url(../img/shijian_check_btn.png);
}
#page.page-urgency .section-detail .section .block-header {
  font-size: 20px;
  color: #12f1ff;
  line-height: 64px;
}
#page.page-urgency .section-detail .section .block-header::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-right: 12px;
  vertical-align: top;
  background: url(../img/minbing_title.png) 50% 50% no-repeat;
}
#page.page-urgency .section-detail .section .block-body {
  font-size: 18px;
}
#page.page-urgency .section-detail .section .block-body textarea {
  width: 100%;
  line-height: 28px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page.page-urgency .section-detail .section .block-body input.block-input {
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 26px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
}
#page.page-urgency .section-detail .section .block-body ul.confirm-list {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  line-height: 26px;
  padding: 0 30px;
  display: inline-block;
  width: 100%;
}
#page.page-urgency .section-detail .section .block-body ul.confirm-list li.confirm-item {
  padding: 15px 4px;
  border-bottom: 1px solid #458DAF;
  margin-bottom: -1px;
  clear: both;
  zoom: 1;
}
#page.page-urgency .section-detail .section .block-body ul.confirm-list li.confirm-item::before {
  content: "";
  display: table;
}
#page.page-urgency .section-detail .section .block-body ul.confirm-list li.confirm-item::after {
  content: "";
  display: table;
  clear: both;
}
#page.page-urgency .section-detail .section .block-body ul.confirm-list li.confirm-item .col {
  width: 33%;
  float: left;
}
#page.page-urgency .section-detail .section .block-user .block-body {
  height: 26px;
  line-height: 26px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
}
#page.page-urgency .section-detail .section .block-user .block-body .input-item {
  width: 33.33333333%;
  float: left;
}
#page.page-urgency .section-detail .section .block-user .block-body .input-item .label {
  float: left;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}
#page.page-urgency .section-detail .section .block-user .block-body .input-item input.block-input {
  float: left;
  width: 67%;
  border: 0;
  height: 26px;
  line-height: 26px;
  padding: 0;
}
#page.page-urgency .section-detail .section .block-action {
  margin: 60px 0;
}
#page.page-urgency .section-detail .section .block-action a.btn-start {
  width: 319px;
  height: 83px;
  display: block;
  line-height: 83px;
  text-align: center;
  color: #12f1ff;
  font-size: 20px;
  font-weight: bold;
  background: url(../img/denglu_btn.png) 50% 50% no-repeat;
}
#page.page-urgency .section-detail .section .block-image .block-body,
#page.page-urgency .section-detail .section .block-video .block-body {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
#page.page-urgency .section-detail .section .block-image .block-body ul.gallery,
#page.page-urgency .section-detail .section .block-video .block-body ul.gallery {
  margin-bottom: -30px;
  clear: both;
  zoom: 1;
}
#page.page-urgency .section-detail .section .block-image .block-body ul.gallery::before,
#page.page-urgency .section-detail .section .block-video .block-body ul.gallery::before {
  content: "";
  display: table;
}
#page.page-urgency .section-detail .section .block-image .block-body ul.gallery::after,
#page.page-urgency .section-detail .section .block-video .block-body ul.gallery::after {
  content: "";
  display: table;
  clear: both;
}
#page.page-urgency .section-detail .section .block-image .block-body ul.gallery li.image-item,
#page.page-urgency .section-detail .section .block-video .block-body ul.gallery li.image-item {
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
}
#page.page-urgency .section-detail .section .block-image .block-body ul.gallery li.image-item img,
#page.page-urgency .section-detail .section .block-video .block-body ul.gallery li.image-item img {
  display: block;
  width: 150px;
  height: 150px;
}
#page.page-urgency .dialog {
  position: fixed;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(128, 128, 128, 0.5);
}
#page.page-urgency .dialog .dialog-window {
  line-height: 70px;
}
#page.page-urgency .dialog .dialog-window .block-classification {
  height: 554px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -277px;
  margin-left: -383px;
}
#page.page-urgency .dialog .dialog-window .block-name {
  width: 371px;
  height: 146px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -277px;
  margin-left: 12px;
}
#page.page-urgency .dialog .dialog-window .block-name .window {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  max-height: 554px;
}
#page.page-urgency .dialog .dialog-window .block-name .window::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-urgency .dialog .dialog-window .block-name .window::before {
  border-color: #458DAF;
}
#page.page-urgency .dialog .dialog-window .block-name .block-title {
  font-size: 22px;
  padding-left: 30px;
  margin: 0 10px;
  border-bottom: 1px solid #374873;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list {
  color: #9bb5d7;
  overflow: auto;
  max-height: 462px;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item {
  margin-bottom: -1px;
  border-bottom: 1px solid #374873;
  font-size: 19px;
  padding-left: 40px;
  color: white;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item.active {
  color: #1dff82;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item input {
  line-height: 70px;
  height: 70px;
  width: 100%;
  border: 0;
  padding: 0;
  font-size: inherit;
  background: transparent;
  outline: 0;
  color: white;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item input::-webkit-input-placeholder {
  color: #9bb5d7;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item input::-moz-placeholder {
  color: #9bb5d7;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item input:-moz-placeholder {
  color: #9bb5d7;
}
#page.page-urgency .dialog .dialog-window .block-name .block-content ul.list li.list-item input:-ms-input-placeholder {
  color: #9bb5d7;
}
#page.page-plan .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 82px;
  margin-bottom: 30px;
}
#page.page-plan .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-plan .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-plan .section-content {
  margin: 34px 0;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
}
#page.page-plan .section-content .block-classification {
  float: left;
  margin-right: 24px;
}
#page.page-plan .section-content .block-classification ul.class-list {
  position: relative;
}
#page.page-plan .section-content .block-name {
  float: left;
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  width: 371px;
  line-height: 70px;
}
#page.page-plan .section-content .block-name::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-plan .section-content .block-name::before {
  border-color: #458DAF;
}
#page.page-plan .section-content .block-name .block-title {
  font-size: 22px;
  padding-left: 30px;
  margin: 0 10px;
  border-bottom: 1px solid #374873;
  color: #95e8ff;
}
#page.page-plan .section-content .block-name .block-content ul.list {
  color: #9bb5d7;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item {
  border-bottom: 1px solid #374873;
  font-size: 19px;
  padding-left: 40px;
  color: white;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item.active {
  color: #1dff82;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item input {
  line-height: 70px;
  height: 70px;
  width: 100%;
  border: 0;
  padding: 0;
  font-size: inherit;
  background: transparent;
  outline: 0;
  color: white;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item input::-webkit-input-placeholder {
  color: #9bb5d7;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item input::-moz-placeholder {
  color: #9bb5d7;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item input:-moz-placeholder {
  color: #9bb5d7;
}
#page.page-plan .section-content .block-name .block-content ul.list li.list-item input:-ms-input-placeholder {
  color: #9bb5d7;
}
#page.page-plan .section-content .block-deal {
  margin-left: 800px;
}
#page.page-plan .section-content .block-deal .row-label {
  margin-bottom: 20px;
}
#page.page-plan .section-content .block-deal .row-label .label {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  line-height: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 270px;
}
#page.page-plan .section-content .block-deal .block-header {
  font-size: 20px;
  color: #12f1ff;
  line-height: 64px;
}
#page.page-plan .section-content .block-deal .block-header::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-right: 12px;
  vertical-align: top;
  background: url(../img/minbing_title.png) 50% 50% no-repeat;
}
#page.page-plan .section-content .block-deal .block-header .btn-delete {
  margin: 0 26px;
  width: 108px;
  height: 64px;
  display: inline-block;
  background: url(../img/delete_btn.png) 50% 50% no-repeat;
  background-size: 108px;
  color: white;
  text-align: center;
  font-size: 16px;
}
#page.page-plan .section-content .block-deal .block-header .link-deal {
  font-size: 16px;
  color: #1dff82;
  text-decoration: underline;
}
#page.page-plan .section-content .block-deal .block-body {
  font-size: 18px;
}
#page.page-plan .section-content .block-deal .block-body textarea {
  width: 100%;
  line-height: 28px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page.page-plan .section-content .block-deal .block-body input.block-input {
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 26px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
}
#page.page-plan .section-content .block-deal .block-action {
  margin-top: 58px;
}
#page.page-plan .section-content .block-deal .block-action a.btn-add {
  display: inline-block;
  margin-left: -6px;
  width: 319px;
  height: 83px;
  line-height: 83px;
  background: url(../img/huiyi_btn.png);
  font-size: 23px;
  color: #12f1ff;
  font-weight: bold;
  text-align: center;
}
#page.page-plan-deal .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 82px;
  margin-bottom: 30px;
}
#page.page-plan-deal .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-plan-deal .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-plan-deal .section-title {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  margin-bottom: 30px;
}
#page.page-plan-deal .section-title::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-plan-deal .section-content {
  margin: 34px 0;
  padding: 30px 74px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
}
#page.page-plan-deal .section-content .section-filter {
  clear: left;
  float: left;
  width: 240px;
  margin-right: 60px;
}
#page.page-plan-deal .section-content .section-filter .block-selector {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  margin-bottom: 25px;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list {
  line-height: 50px;
  text-align: center;
  display: inline-block;
  width: 100%;
  zoom: 1;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list label {
  display: block;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list label .check-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/uncheck_icon.png);
  vertical-align: top;
  margin: 16px;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list label input[type="checkbox"] {
  display: none;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list label input[type="checkbox"]:checked + .check-icon {
  background-image: url(../img/check_icon.png);
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.item {
  font-size: 20px;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.item > label {
  margin: 0 12px;
  border-bottom: 1px solid #374873;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.item > label .check-icon {
  margin-left: 10px;
  margin-right: 12px;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.item > label::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 50px;
  background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.item:not(:last-child) {
  border-bottom: 1px solid #374873;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list ul.submenu {
  margin: 12px 0;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.subitem {
  font-size: 19px;
  color: #95e8ff;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.subitem.selected {
  color: #1dff82;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.subitem label {
  line-height: 50px;
}
#page.page-plan-deal .section-content .section-filter .block-selector ul.list li.subitem label .check-icon {
  margin: 16px 8px 16px 40px;
}
#page.page-plan-deal .section-content .section-detail {
  float: left;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list {
  clear: both;
  zoom: 1;
  width: 840px;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list::before {
  content: "";
  display: table;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list::after {
  content: "";
  display: table;
  clear: both;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item {
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  display: inline-block;
  float: left;
  margin-bottom: 18px;
  line-height: 47px;
  width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 28px;
  position: relative;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item:nth-child(2n) {
  margin-left: 40px;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item label {
  position: absolute;
  left: 0;
  top: 14px;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item label .check-icon {
  margin-left: 10px;
  margin-right: 12px;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item .row {
  font-size: 18px;
  color: #12f1ff;
  letter-spacing: 0;
  padding-left: 15px;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item .row .label {
  font-size: 17px;
  color: white;
  margin-right: 1em;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item .row .item {
  float: left;
}
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item .row .item-name,
#page.page-plan-deal .section-content .section-detail ul.soldier-list li.soldier-item .row .item-title {
  display: inline-block;
  width: 50%;
}
#page.page-plan-deal .section-content .section-detail .block-sms .block-title {
  font-size: 20px;
  color: #12f1ff;
  line-height: 64px;
}
#page.page-plan-deal .section-content .section-detail .block-sms .block-title::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-right: 12px;
  vertical-align: top;
  background: url(../img/minbing_title.png) 50% 50% no-repeat;
}
#page.page-plan-deal .section-content .section-detail .block-sms .block-content textarea {
  width: 100%;
  line-height: 28px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page.page-plan-deal .section-content .section-detail .block-action {
  margin: 60px 0;
}
#page.page-plan-deal .section-content .section-detail .block-action a.btn-save {
  width: 319px;
  height: 83px;
  display: block;
  line-height: 83px;
  text-align: center;
  color: #12f1ff;
  font-size: 20px;
  font-weight: bold;
  background: url(../img/denglu_btn.png) 50% 50% no-repeat;
}
#page.page-plan-edit .block-subtitle {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat, url(../img/xiaobiaoqian4.png) 100% 0 no-repeat, url(../img/xiaobiaoqian2.png) 0 100% no-repeat, url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  height: 58px;
  line-height: 58px;
  color: #95e8ff;
  font-size: 20px;
  padding-left: 82px;
  margin-bottom: 30px;
}
#page.page-plan-edit .block-subtitle::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #133154;
  border: 1px solid #374873;
  z-index: -1;
}
#page.page-plan-edit .block-subtitle::before {
  background-color: #0E234B;
}
#page.page-plan-edit .section-content {
  margin: 34px 0;
  padding: 30px 54px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  zoom: 1;
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
}
#page.page-plan-edit .section-content .row-label {
  margin-bottom: 20px;
}
#page.page-plan-edit .section-content .row-label .label {
  position: relative;
  z-index: 0;
  border: 1px solid #458DAF;
  background: #132B54;
  line-height: 46px;
  line-height: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 270px;
}
#page.page-plan-edit .section-content .section-plan .block-header {
  font-size: 20px;
  color: #12f1ff;
  line-height: 64px;
}
#page.page-plan-edit .section-content .section-plan .block-header::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-right: 12px;
  vertical-align: top;
  background: url(../img/minbing_title.png) 50% 50% no-repeat;
}
#page.page-plan-edit .section-content .section-plan .block-header .btn-delete {
  margin: 0 26px;
  width: 108px;
  height: 64px;
  display: inline-block;
  background: url(../img/delete_btn.png) 50% 50% no-repeat;
  background-size: 108px;
  color: white;
  text-align: center;
  font-size: 16px;
}
#page.page-plan-edit .section-content .section-plan .block-header .link-deal {
  font-size: 16px;
  color: #1dff82;
  text-decoration: underline;
}
#page.page-plan-edit .section-content .section-plan .block-body {
  font-size: 18px;
}
#page.page-plan-edit .section-content .section-plan .block-body textarea {
  width: 100%;
  line-height: 28px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page.page-plan-edit .section-content .section-plan .block-body input.block-input {
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 26px;
  padding: 10px 20px;
  border: 1px solid #458DAF;
  background: none;
  color: inherit;
}
#page.page-plan-edit .section-content .block-action {
  margin-top: 58px;
}
#page.page-plan-edit .section-content .block-action a.btn-add {
  display: inline-block;
  margin-left: -6px;
  width: 319px;
  height: 83px;
  line-height: 83px;
  background: url(../img/huiyi_btn.png);
  font-size: 23px;
  color: #12f1ff;
  font-weight: bold;
  text-align: center;
}
