@charset "utf-8";
@import (once) "../lib/less-template/template";

html {
  color: white;
  background: #0B2242;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

@box-background-color: #133154;
@box-background-color-dark: #0E234B;
@box-border-color: #374873;
@panel-border-color: #458DAF;
@panel-background-color: #132B54;
@text-color-bright: #12f1ff;
@text-color-normal: #95e8ff;
@text-color-active: #FDEE85;
@text-color-fade: #9bb5d7;
@full-width: 1828px;
@content-width: 1576px;

.block-title {
  .text-overflow(1);
}

.block-actions-menu {
  display: inline-block;
  margin-right: 117px;
  .panel();
  margin-bottom: 30px;
  line-height: 46px;
  width: 280px;
  .label {
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
    vertical-align: top;
  }
  a.btn {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: 50% 50% no-repeat;
    vertical-align: top;
    &.btn-add {
      background-image: url(../img/add_icon.png);
    }
    &.btn-delete {
      background-image: url(../img/delete_icon.png);
    }
    &.btn-edit {
      background-image: url(../img/edit_icon.png);
    }
    &.btn-reload {
      background-image: url(../img/refresh_icon.png);
    }
  }
}

label.check-widget {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: 15px;
  .icon {
    display: block;
    background: url(../img/uncheck_icon.png) 50% 50% no-repeat;
    width: 18px;
    height: 18px;
  }
  input[type="checkbox"] {
    display: none;
    &:checked + .icon {
      background-image: url(../img/check_icon.png);
    }
  }
}

.panel() {
  position: relative;
  z-index: 0;
  border: 1px solid @panel-border-color;
  background: @panel-background-color;
  line-height: 46px;
}

.pretty-box() {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../img/xiaobiaoqian.png) 0 0 no-repeat,
  url(../img/xiaobiaoqian4.png) 100% 0 no-repeat,
  url(../img/xiaobiaoqian2.png) 0 100% no-repeat,
  url(../img/xiaobiaoqian3.png) 100% 100% no-repeat;
  padding: 3px;
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: @box-background-color;
    border: 1px solid @box-border-color;
    z-index: -1;
  }
}

.pretty-box-dark {
  .pretty-box();
  &::before {
    background-color: @box-background-color-dark;
  }
}

#masthead {
  margin: 45px auto 30px auto;
  width: @full-width;
  .clearfix();
  .block-title {
    float: left;
    width: 1548px;
    height: 96px;
    background: url(../img/head.png);
  }
  .block-user {
    float: right;
    width: 255px;
    height: 90px;
    .pretty-box();
    z-index: 1;
    .content {
      line-height: 90px;
      font-size: 20px;
      text-align: center;
      padding: 0 30px;
      color: @text-color-normal;
      .text-overflow(1);
      .avatar {
        display: inline-block;
        vertical-align: top;
        border: 0;
        width: 40px;
        height: 40px;
        margin-top: 28px;
        margin-right: 0.8em;
        .circle();
      }
    }
    &:hover .dropdown {
      display: block;
    }
    .dropdown {
      display: none;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 50%;
      margin-top: -14px;
      margin-left: -91px;
      width: 181px;
      height: 130px;
      background: url(../img/shexiangtou_bg.png);
      ul.menu-list {
        height: 98px;
        margin-top: 20px;
        text-align: center;
        li.menu-item {
          height: 48px;
          line-height: 48px;
          margin: 0 auto;
          width: 110px;
          &:first-child {
            border-bottom: 1px solid #0bedfc;
          }
          a {
            &:hover {
              color: @text-color-bright;
            }
            display: block;
          }
        }
      }
    }
  }
}

#sidebar {
  float: left;
  width: 250px;
  ul.sidebar-list {
    li.sidebar-item {
      width: 236px;
      height: 94px;
      margin: 0 auto 52px -6px;
      background: 50% 50% no-repeat;
      &.menu-index {
        background-image: url(../img/home_unclick.png);
      }
      &.active.menu-index {
        background-image: url(../img/home_click.png);
      }
      &.menu-static-map {
        background-image: url(../img/jingtai_unclick.png);
      }
      &.active.menu-static-map {
        background-image: url(../img/jingtai_click.png);
      }
      &.menu-dynamic-map {
        background-image: url(../img/home_unclick.png);
      }
      &.active.menu-dynamic-map {
        background-image: url(../img/home_click.png);
      }
      &.menu-plan {
        background-image: url(../img/yingji_unclick.png);
      }
      &.active.menu-plan {
        background-image: url(../img/yingji_click.png);
      }
      &.menu-urgency {
        background-image: url(../img/xianqing_unclick.png);
      }
      &.active.menu-urgency {
        background-image: url(../img/xianqing_click.png);
      }
      a {
        display: block;
        height: 94px;
      }
    }
  }
}

.layer-background {
  position: relative;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  min-height: 1080px;
  width: @full-width;
  margin: 0 auto;
  background: #0B2242 url(../img/big_bg.png) 50% 0 no-repeat;
  padding: 0 75px;
  overflow: auto;
  & > .content {
    padding-top: 6px;
    &.with-sidebar {
      margin-left: 252px;
    }
  }
}


.block-classification {
  .pretty-box();
  width: 371px;
  &::before {
    border-color: @panel-border-color;
  }
  ul.class-list {
    line-height: 50px;
    .fill-absolute();
    overflow-y: auto;
    margin: 3px;
    label {
      display: block;
      text-align: center;
      .check-icon {
        //display: none;
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/uncheck_icon.png);
        vertical-align: top;
        margin: 16px;
      }
      input[type="checkbox"] {
        display: none;
        &:checked + .check-icon {
          background-image: url(../img/check_icon.png);
        }
      }
    }
    li.class-item {
      font-size: 22px;
      color: @text-color-normal;
      &.collapsed {
        ::after {
          .rotate(180deg);
        }
        ul.submenu {
          height: 0;
        }
      }
      & > label {
        margin: 0 12px;
        border-bottom: 1px solid @box-border-color;
        &::after {
          content: "";
          background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
          height: 46px;
          width: 46px;
          display: inline-block;
          vertical-align: top;
          .transition-duration(0.4s);
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid @box-border-color;
      }
    }
    ul.submenu {
      margin: 12px 0;
      .transition-duration(0.4s);
      overflow: hidden;
    }
    li.class-subitem {
      font-size: 19px;
      color: @text-color-fade;
      &.active {
        color: #1dff82;
      }
      label {
        line-height: 50px;
        //.check-icon {
        //  margin: 16px 8px 16px 45px;
        //}
      }
    }
  }
}

.dialog-edit-plan {
  .fill-fixed();
  z-index: 100;
  background: fade(gray, 50%);
  .dialog-window {
    .pretty-box-dark();
    &::before {
      border-color: @panel-border-color;
    }
    .fill-fixed();
    width: 875px;
    height: 460px;
    margin: auto;
    .dialog-header {
      border-bottom: 1px solid #374873;
      line-height: 64px;
      text-align: center;
      font-size: 20px;
      color: @text-color-normal;
      margin: -3px;
    }
    .dialog-body {
      padding: 30px;
      .row {
        padding: 12px 0;
        .clearfix();
        .label {
          float: left;
          width: 240px;
          margin-right: 64px;
          font-size: 18px;
          text-align: right;
          color: @text-color-fade;
          line-height: 48px;
        }
        .control {
          float: left;
          .select {
            width: 360px;
            line-height: 46px;
            height: 46px;
            border: 1px solid #447D98;
            background: transparent;
            text-align: center;
            font-size: 20px;
            color: inherit;
            position: relative;
            &.expanded {
              .text::after {
                .rotate(180deg);
              }
              .dropdown {
                display: block;
              }
            }
            .text {
              text-align: center;
              &::after {
                content: "";
                background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
                height: 46px;
                width: 46px;
                display: inline-block;
                vertical-align: top;
              }
            }
            .dropdown {
              position: absolute;
              display: none;
              top: 100%;
              left: 0;
              right: 0;
              border: 1px solid #447D98;
              margin: 0 -1px;
              color: @text-color-fade;
              font-size: 18px;
              background: @box-background-color-dark;
              ul.dropdown-list {
                padding: 0 30px;
                li {
                  border-bottom: 1px solid #447D98;
                  a {
                    display: block;
                  }
                }
              }
            }
          }
          input {
            width: 360px;
            line-height: 46px;
            height: 46px;
            border: 1px solid #447D98;
            background: transparent;
            text-align: center;
            font-size: 20px;
            color: inherit;
            .placeholder-color(white);
          }
        }
      }
    }
    .row-action {
      text-align: center;
      margin-top: 30px;
      .btn {
        display: inline-block;
        width: 179px;
        height: 73px;
        line-height: 73px;
        font-size: 20px;
        font-weight: bold;
        margin: 0 30px;
      }
      .btn-cancel {
        background: url(../img/btn_cancel.png) 50% 50% no-repeat;
        color: #F4E67C;
      }
      .btn-submit {
        color: @text-color-bright;
        background: url(../img/btn_submit.png) 50% 50% no-repeat;
      }
    }
  }
}

#dialog-change-password {
  .fill-fixed();
  z-index: 100;
  background: fade(gray, 50%);
  .dialog-window {
    .pretty-box-dark();
    &::before {
      border-color: @panel-border-color;
    }
    .fill-fixed();
    width: 875px;
    height: 460px;
    margin: auto;
    .dialog-header {
      border-bottom: 1px solid #374873;
      line-height: 64px;
      text-align: center;
      font-size: 20px;
      color: @text-color-normal;
      margin: -3px;
    }
    .dialog-body {
      padding: 30px;
      .row {
        padding: 12px 0;
        .clearfix();
        .label {
          float: left;
          width: 240px;
          margin-right: 64px;
          font-size: 18px;
          text-align: right;
          color: @text-color-fade;
          line-height: 48px;
        }
        .control {
          float: left;
          input {
            width: 360px;
            line-height: 46px;
            height: 46px;
            border: 1px solid #447D98;
            background: transparent;
            text-align: center;
            font-size: 20px;
            color: inherit;
            .placeholder-color(white);
          }
        }
      }
      .row-action {
        text-align: center;
        margin-top: 30px;
        .btn {
          display: inline-block;
          width: 179px;
          height: 73px;
          line-height: 73px;
          font-size: 20px;
          font-weight: bold;
          margin: 0 30px;
        }
        .btn-cancel {
          background: url(../img/btn_cancel.png) 50% 50% no-repeat;
          color: #F4E67C;
        }
        .btn-submit {
          color: @text-color-bright;
          background: url(../img/btn_submit.png) 50% 50% no-repeat;
        }
      }
    }
  }
}

#page.page-index {
  .block-subtitle {
    .pretty-box-dark();
    height: 58px;
    line-height: 58px;
    color: @text-color-normal;
    font-size: 20px;
    &::after {
      content: "";
      display: block;
      float: left;
      width: 58px;
      height: 58px;
      background: url(../img/notice_icon.png) 60% 50% no-repeat;
    }
  }
  .block-info {
    .panel();
    margin-top: 15px;
    margin-bottom: 20px;
    &::before {
      content: "";
      display: block;
      float: left;
      width: 46px;
      height: 46px;
      background: url(../img/minbing_title.png) 60% 50% no-repeat;
    }
  }
  .content-body {
    .camera-menu {
      width: 200px;
      font-size: 20px;
      float: left;
      ul.menu-list {
        .panel();
        text-align: center;
        padding: 12px;
        line-height: 56px;
        li.menu-item {
          position: relative;
          a {
            display: block;
          }
          &.active {
            color: @text-color-active;
            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: 10px;
              left: 50%;
              width: 2.2em;
              margin-left: -1.1em;
              height: 2px;
              background-color: @text-color-active;
            }
          }
        }
      }
    }
    .block-video {
      position: relative;
      //width: 1350px;
      height: 684px;
      margin-left: 226px;
      background: rgba(0, 0, 0, 0.3);
      .video {
        border: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#page.page-login {
  .layer-background {
    background-image: url(../img/degnlu_bg.png);
    width: auto;
  }
  .content {
    .block-title {
      height: 315px;
      margin-top: 48px;
      background: url(../img/head_title.png) 50% 0 no-repeat;
    }
    .form {
      width: 620px;
      height: 385px;
      margin: 0 auto;
      background: url(../img/denglu_box.png) 50% 0 no-repeat;
      padding-top: 85px;
      .form-row {
        height: 110px;
        width: 436px;
        margin: 0 auto;
        background: url(../img/denglu_iput_box.png) 50% 0 no-repeat;
        input {
          width: 100%;
          height: 60px;
          line-height: 60px;
          display: block;
          outline: none;
          border: none;
          background: transparent url(../img/denglu_mima_icon.png) 20px 50% no-repeat;
          float: left;
          margin-top: 2px;
          padding-left: 64px;
          color: #95e8ff;
          font-size: 24px;
          .placeholder-color(rgba(255, 255, 255, 0.5));
          &[type="password"] {
            background-image: url(../img/denglu_zhanghao_icon.png);
          }
        }
      }
      .action {
        padding-top: 23px;
        a.btn-login {
          display: block;
          width: 319px;
          height: 83px;
          line-height: 83px;
          margin: 0 auto;
          background: url(../img/denglu_btn.png) 50% 0 no-repeat;
          color: @text-color-bright;
          font-size: 24px;
          letter-spacing: 0.8em;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
}

#page.page-map-dynamic {
  label.check-widget {
    margin-left: 0;
  }
  .block-duration .label {
    margin-left: 38px;
  }
  .section-property {
    width: 470px;
    float: right;
    //.block-camera {
    //  font-size: 18px;
    //  .pretty-box();
    //  .header {
    //    background: #10254D;
    //    height: 50px;
    //    line-height: 50px;
    //    padding: 0 30px;
    //    color: @text-color-bright;
    //  }
    //  .thumbnail {
    //    height: 262px;
    //    img.thumbnail-image {
    //      display: block;
    //      width: 100%;
    //      height: 262px;
    //    }
    //  }
    //}
    .block-tasks {
      //margin-top: 40px;
      margin-bottom: 20px;
      font-size: 18px;
      .pretty-box();
      &::before {
        background-color: #0A2241;
      }
      .header {
        background: #10254D;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        color: @text-color-bright;
        .btn-meeting {
          float: right;
          line-height: 34px;
          margin-top: 7px;
          border: 1px solid #66CAE7;
          .rounded-corners(4px);
          color: #FDFB58;
          font-size: 16px;
          padding: 0 15px;
        }
      }
      &.collapsed .dropdown-bar .label::after {
        background-image: url(../img/dongtai_renwu_close_icon.png);
      }
      .body {
        padding: 0 12px;
        //.dropdown-bar {
        //  text-align: center;
        //  line-height: 48px;
        //  .label {
        //    &::after {
        //      content: "";
        //      display: inline-block;
        //      width: 46px;
        //      height: 46px;
        //      vertical-align: top;
        //      background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
        //    }
        //  }
        //}
        text-align: center;
        table.table-content {
          width: 100%;
          line-height: 44px;
          font-size: 16px;
          margin-bottom: 15px;
          thead {
            font-size: 18px;
            line-height: 48px;
            border-bottom: 1px solid #374873;
          }
          tbody {
            td {
              &:first-child, &:last-child {
                color: @text-color-normal;
              }
            }
          }
        }
      }
    }
  }
  .section-detail {
    width: 1072px;
    float: left;
    .block-subtitle {
      .pretty-box-dark();
      height: 58px;
      line-height: 58px;
      color: @text-color-normal;
      font-size: 20px;
      padding-left: 64px;
    }
    .block-select {
      font-size: 20px;
      margin: 16px 0;
      .item-group {
        .panel();
        width: 200px;
        line-height: 46px;
        display: inline-block;
        margin-right: 20px;
        .label {
          text-align: center;
          padding-left: 30px;
          &::after {
            content: "";
            display: inline-block;
            width: 46px;
            height: 46px;
            vertical-align: top;
            background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
          }
        }
        select.group-select {
          position: absolute;
          top: 0;
          left: 0;
          height: 46px;
          font-size: 20px;
          width: 100%;
          opacity: 0;
        }
      }
    }
    .block-name, .block-duration {
      font-size: 20px;
      margin-bottom: 18px;
      .label {
        display: inline-block;
        margin-right: 20px;
        line-height: 48px;
      }
      .input {
        line-height: 46px;
        height: 46px;
        background-color: #162f59;
        border: 1px solid #4a96ba;
        display: inline-block;
        &.input-name {
          width: 200px;
        }
        &.input-time {
          width: 280px;
        }
        input {
          width: 100%;
          background: none;
          border: none;
          height: 46px;
          line-height: 46px;
          text-align: center;
          font-size: inherit;
          color: white;
          .placeholder-color(rgba(255, 255, 255, 0.5));
        }
      }
      .separator {
        display: inline-block;
        width: 34px;
        height: 48px;
        position: relative;
        vertical-align: top;
        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 7px;
          background: #4a96ba;
        }
      }
      .btn-search {
        width: 179px;
        height: 73px;
        line-height: 73px;
        background: url(../img/dongtai_search_btn.png);
        display: inline-block;
        vertical-align: top;
        margin: -(73px - 48px) * 0.5 40px;
        text-align: center;
        font-size: 23px;
        color: @text-color-bright;
        font-weight: bold;
      }
    }
    .block-map {
      .panel();
      background: #0C133D;
      height: 770px;
      margin-bottom: 45px;
      ul.soldier-list {
        li.soldier-item {
          position: absolute;
          font-size: 18px;
          width: 48px;
          height: 48px;
          &.active .avatar {
            img {
              margin: 0;
              width: 48px;
              height: 48px;
              border: 0;
            }
          }
          .avatar {
            display: block;
            width: 48px;
            height: 48px;
            margin-left: 24px;
            margin-top: 40px;
            .clearfix();
            img {
              margin: 5px;
              width: 30px;
              height: 30px;
              display: block;
              border: 4px solid #79e5fb;
              .circle();
            }
            background: rgba(255, 255, 255, 0.5);
            .circle();
          }
          &.active .soldier-detail {
            display: block;
          }
          .soldier-detail {
            display: none;
            position: absolute;
            width: 280px;
            bottom: 100%;
            left: 50%;
            margin-left: -156px;
            border: 1px solid #69ceeb;
            padding: 10px 32px 30px 32px;
            font-size: 18px;
            .row {
              line-height: 22px;
              margin-bottom: 10px;
              &.row-name {
                .name {
                  color: #1dff82;
                }
              }
            }
            .btn-talk {
              color: @text-color-bright;
              font-size: 20px;
              font-weight: bold;
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -78px;
              margin-top: -32px;
              width: 157px;
              height: 65px;
              line-height: 65px;
              text-align: center;
              background: url(../img/dongtai_tanchu_btn.png);
            }
            &::before {
              content: "";
              display: block;
              position: absolute;
              left: -25px;
              top: -32px;
              width: 81px;
              height: 105px;
              background: url(../img/dongtai_box_1.png) no-repeat;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              right: -30px;
              top: -24px;
              width: 59px;
              height: 60px;
              background: url(../img/dongtai_box_2.png) no-repeat;
            }
          }
        }
      }
    }
  }
}

#page.page-map-static {
  .section-property {
    width: 470px;
    float: right;
    .block-introduction {
      font-size: 18px;
      .pretty-box();
      &::before {
        background-color: #0A2241;
      }
      .header {
        background: #10254D;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        color: @text-color-bright;
      }
      .content {
        padding: 25px 30px;
        min-height: 262px;
        line-height: 32px;
        p {
          text-indent: 2em;
        }
      }
    }
    .block-soldiers {
      margin-top: 25px;
      font-size: 18px;
      .pretty-box();
      &::before {
        background-color: #0A2241;
      }
      .header {
        background: #10254D;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        color: @text-color-bright;
      }
      .body {
        padding: 0 12px;
        text-align: center;
        table.table-soldiers {
          width: 100%;
          line-height: 44px;
          font-size: 16px;
          margin-bottom: 15px;
          thead {
            th {
              border-bottom: 1px solid #374873;
            }
          }
          tbody {
            td {
              &:first-child {
                color: @text-color-normal;
              }
              .btn-call {
                vertical-align: middle;
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../img/tele_icon.png);
              }
            }
          }
        }
      }
    }
  }
  .section-detail {
    width: 1072px;
    float: left;
    .block-subtitle {
      .pretty-box-dark();
      height: 58px;
      line-height: 58px;
      color: @text-color-normal;
      font-size: 20px;
      padding-left: 64px;
    }
    .block-select {
      font-size: 20px;
      margin: 16px 0;
      .item-group {
        .panel();
        width: 200px;
        line-height: 46px;
        .label {
          text-align: center;
          padding-left: 30px;
          &::after {
            content: "";
            display: inline-block;
            width: 46px;
            height: 46px;
            vertical-align: top;
            background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
          }
        }
        select.group-select {
          position: absolute;
          top: 0;
          left: 0;
          height: 46px;
          font-size: 20px;
          width: 100%;
          opacity: 0;
        }
      }
    }
    .block-map {
      .panel();
      background: #0C133D;
      height: 770px;
      margin-bottom: 45px;
      .block-legend {
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid #407A9D;
        padding: 0 16px;
        width: 150px;
        .label {
          text-align: center;
          border-bottom: 1px solid #374873;
          &::after {
            content: "";
            display: inline-block;
            width: 46px;
            height: 46px;
            vertical-align: top;
            background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
          }
        }
        .menu {
          ul.menu-list {
            li.menu-item {
              font-size: 18px;
              color: #7C92B2;
              line-height: 43px;
              .check-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(../img/uncheck_icon.png);
                vertical-align: top;
                margin: 12px;
              }
              input[type="checkbox"] {
                display: none;
                &:checked + .check-icon {
                  background-image: url(../img/check_icon.png);
                }
              }
            }
          }
        }
      }
      ul.group-list {
        li.group-item {
          position: absolute;
          font-size: 14px;
          line-height: 1em;
          &::before {
            content: "";
            display: block;
            width: 38px;
            height: 38px;
            background: fade(#FDEE85, 10%);
            position: absolute;
            left: 50%;
            bottom: 100%;
            margin-bottom: 8px;
            margin-left: -19px;
            .circle();
          }
          &::after {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            background: #FDEE85;
            position: absolute;
            left: 50%;
            bottom: 100%;
            margin-bottom: 20px;
            margin-left: -7px;
            .circle();
          }
        }
      }
    }
  }
}

#page.page-meeting {
  .dialog {
    .fill-fixed();
    z-index: 100;
    background: fade(gray, 50%);
    .dialog-window {
      .panel();
      .fill-fixed();
      width: 1224px;
      height: 687px;
      margin: auto;
      .dialog-header {
        .pretty-box-dark();
        &::before {
          border-color: @panel-border-color;
        }
        line-height: 50px;
        padding-left: 80px;
        font-size: 24px;
        color: @text-color-normal;
        margin: -3px;
        .btn-close {
          position: absolute;
          width: 50px;
          height: 50px;
          right: 3px;
          top: 3px;
          line-height: 50px;
          text-align: center;
          font-size: 32px;
          font-weight: bold;
        }
      }
      .dialog-body {
        height: 632px;
        position: relative;
        .block-video {
          .panel();
          .fill-absolute();
          width: 875px;
          height: 520px;
          margin: auto;
          border: 2px solid #60B9D4;
          box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
          video {
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
          }
        }
        .participants {
          position: absolute;
          left: 0;
          bottom: 0;
          max-height: 100%;
          overflow: auto;
          font-size: 16px;
          ul.user-list {
            padding: 24px 28px;
            li.user-item {
              position: relative;
              width: 116px;
              height: 116px;
              border: 2px solid #CCCCCC;
              margin-top: 24px;
              a {
                display: block;
                .fill-absolute();
              }
              .label {
                position: relative;
                line-height: 24px;
                text-align: center;
                background: rgba(0, 0, 0, 0.5);
                z-index: 1;
              }
              .full-message {
                .fill-absolute();
                padding-top: 38px;
                background: rgba(0, 0, 0, 0.5);
                text-align: center;
                line-height: 20px;
              }
              &.connecting {
                a {
                  background: #1B1E36 url(../img/rentou_icon.png) 50% 50% no-repeat;
                }
                .label {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
  .content {
    .block-subtitle {
      .pretty-box-dark();
      height: 58px;
      line-height: 58px;
      color: @text-color-normal;
      font-size: 20px;
      padding-left: 82px;
      .btn-close {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        width: 64px;
        height: 64px;
        background: url(../img/close_icon.png) 50% 50% no-repeat;
      }
    }
    .block-search {
      .panel();
      margin: 18px 0 20px 0;
      height: 46px;
      line-height: 46px;
      width: 260px;
      input {
        font-size: 20px;
        width: 100%;
        border: 0;
        height: 46px;
        line-height: 46px;
        padding-left: 46px;
        background: transparent url(../img/search_icon.png) 6% 50% no-repeat;
        .border-box();
        .placeholder-color(@text-color-fade);
      }
    }
    .block-content {
      min-height: 680px;
      .panel();
      background: #0C133D;
      border-color: @box-border-color;
      .block-list {
        float: left;
        margin: -1px 0 0 -1px;
        width: 220px;
        text-align: center;
        .panel();
        .block-title {
          border-bottom: 1px solid @panel-border-color;
          line-height: 47px;
          font-size: 22px;
          padding-right: 47px;
          &:before {
            content: "";
            width: 47px;
            height: 47px;
            display: inline-block;
            vertical-align: top;
            background: url(../img/minbing_title.png) 50% 50% no-repeat;
          }
        }
        ul.soldier-list {
          font-size: 19px;
          li.soldier-item {
            color: @text-color-normal;
            &.selected {
              font-size: 20px;
              color: white;
            }
            line-height: 50px;
            a {
              display: block;
            }
          }
        }
      }
      .block-action {
        float: left;
        padding: 130px 44px;
        ul.menu-list {
          li.menu-item {
            width: 168px;
            line-height: 60px;
            height: 60px;
            text-align: center;
            margin-bottom: 50px;
            font-size: 24px;
            font-weight: bold;
            a {
              display: block;
              background: url(../img/delete_btn.png) 50% 50% no-repeat;
            }
          }
        }
      }
      .block-selected {
        float: left;
        margin-left: 66px;
        width: 840px;
        .block-title {
          line-height: 47px;
          font-size: 22px;
          margin-bottom: 10px;
          .panel();
          &::before {
            content: "";
            display: inline-block;
            vertical-align: top;
            width: 47px;
            height: 47px;
            margin-left: 14px;
            background: url(../img/minbing_title.png) 50% 50% no-repeat;
          }
        }
        ul.soldier-list {
          .clearfix();
          li.soldier-item {
            .panel();
            display: inline-block;
            float: left;
            margin-bottom: 18px;
            line-height: 47px;
            width: 400px;
            .border-box();
            padding: 16px 28px;
            &:nth-child(2n) {
              margin-left: 40px;
            }
            .row {
              font-size: 18px;
              color: @text-color-bright;
              letter-spacing: 0;
              .label {
                font-size: 17px;
                color: white;
                margin-right: 1em;
              }
              .item {
                float: left;
              }
              .item-name, .item-title {
                display: inline-block;
                width: 50%;
              }
            }
          }
        }
        .row-action {
          margin-top: 58px;
          a.btn-start {
            display: inline-block;
            margin-left: -6px;
            width: 319px;
            height: 83px;
            line-height: 83px;
            background: url(../img/huiyi_btn.png);
            font-size: 23px;
            color: @text-color-bright;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
  }
}

#page.page-urgency {
  .block-subtitle {
    .pretty-box-dark();
    height: 58px;
    line-height: 58px;
    color: @text-color-normal;
    font-size: 20px;
    padding-left: 82px;
    margin-bottom: 30px;
  }
  .section-detail {
    .panel();
    border-color: @box-border-color;
    padding-left: 177px;
    .section {
      width: 994px;

    }
    .section-event-list {
      padding-top: 20px;
      table.table-event {
        width: 100%;
        text-align: center;
        font-size: 18px;
        th, td {
          border: 1px solid #5AAECD;
        }
        th {
          font-size: 24px;
        }
        tr.active {
          color: #1DFF82;
        }
      }
    }
    .section-tab {
      margin-top: 24px;
      .tab {
        display: inline-block;
        margin-right: 18px;
        width: 168px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: url(../img/shijian_uncheck_btn.png) 50% 50% no-repeat;
        font-size: 20px;
        &.active {
          background-image: url(../img/shijian_check_btn.png);
        }
      }
    }
    .section {
      .block-header {
        font-size: 20px;
        color: @text-color-bright;
        line-height: 64px;
        &::before {
          content: "";
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-top: 16px;
          margin-right: 12px;
          vertical-align: top;
          background: url(../img/minbing_title.png) 50% 50% no-repeat;
        }
      }
      .block-body {
        font-size: 18px;
        textarea {
          width: 100%;
          line-height: 28px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          background: none;
          color: inherit;
          .border-box();
        }
        input.block-input {
          font-size: 18px;
          width: 100%;
          .border-box();
          line-height: 26px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          background: none;
          color: inherit;
        }
        ul.confirm-list {
          .panel();
          line-height: 26px;
          padding: 0 30px;
          display: inline-block;
          width: 100%;
          li.confirm-item {
            padding: 15px 4px;
            border-bottom: 1px solid @panel-border-color;
            margin-bottom: -1px;
            .clearfix();
            .col {
              width: 33%;
              float: left;
            }
          }
        }
      }
      .block-user {
        .block-body {
          height: 26px;
          line-height: 26px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          .input-item {
            width: 100%/3;
            float: left;
            .label {
              float: left;
              width: 33%;
              .border-box();
              padding-left: 15px;
            }
            input.block-input {
              float: left;
              width: 67%;
              border: 0;
              height: 26px;
              line-height: 26px;
              padding: 0;
            }
          }
        }
      }
      .block-action {
        margin: 60px 0;
        a.btn-start {
          width: 319px;
          height: 83px;
          display: block;
          line-height: 83px;
          text-align: center;
          color: @text-color-bright;
          font-size: 20px;
          font-weight: bold;
          background: url(../img/denglu_btn.png) 50% 50% no-repeat;
        }
      }
      .block-image, .block-video {
        .block-body {
          .float-wrapper();
          ul.gallery {
            margin-bottom: -30px;
            .clearfix();
            li.image-item {
              margin-right: 30px;
              margin-bottom: 30px;
              float: left;
              img {
                display: block;
                width: 150px;
                height: 150px;
              }
            }
          }
        }
      }
    }
  }
  .dialog {
    .fill-fixed();
    z-index: 100;
    background: fade(gray, 50%);
    .dialog-window {
      line-height: 70px;
      .block-classification {
        height: 554px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -554px*0.5;
        margin-left: -371px - 12px;
      }
      .block-name {
        width: 371px;
        height: 146px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -554px*0.5;
        margin-left: 12px;
        .window {
          .pretty-box();
          max-height: 554px;
          &::before {
            border-color: @panel-border-color;
          }
        }
        .block-title {
          font-size: 22px;
          padding-left: 30px;
          margin: 0 10px;
          border-bottom: 1px solid @box-border-color;
        }
        .block-content {
          ul.list {
            color: @text-color-fade;
            overflow: auto;
            max-height: 554px - 92px;
            li.list-item {
              margin-bottom: -1px;
              border-bottom: 1px solid @box-border-color;
              font-size: 19px;
              padding-left: 40px;
              color: white;
              &.active {
                color: #1dff82;
              }
              input {
                line-height: 70px;
                height: 70px;
                width: 100%;
                border: 0;
                padding: 0;
                font-size: inherit;
                background: transparent;
                outline: 0;
                color: white;
                .placeholder-color(@text-color-fade);
              }
            }
          }
        }
      }
    }
  }
}

#page.page-plan {
  .block-subtitle {
    .pretty-box-dark();
    height: 58px;
    line-height: 58px;
    color: @text-color-normal;
    font-size: 20px;
    padding-left: 82px;
    margin-bottom: 30px;
  }
  .section-content {
    margin: 34px 0;
    padding: 30px;
    .border-box();
    width: 100%;
    display: inline-block;
    .panel();
    .block-classification {
      float: left;
      margin-right: 24px;
      ul.class-list {
        position: relative;
      }
    }
    .block-name {
      float: left;
      .pretty-box();
      &::before {
        border-color: @panel-border-color;
      }
      width: 371px;
      line-height: 70px;
      .block-title {
        font-size: 22px;
        padding-left: 30px;
        margin: 0 10px;
        border-bottom: 1px solid @box-border-color;
        color: @text-color-normal;
      }
      .block-content {
        ul.list {
          color: @text-color-fade;
          li.list-item {
            border-bottom: 1px solid @box-border-color;
            font-size: 19px;
            padding-left: 40px;
            color: white;
            &.active {
              color: #1dff82;
            }
            input {
              line-height: 70px;
              height: 70px;
              width: 100%;
              border: 0;
              padding: 0;
              font-size: inherit;
              background: transparent;
              outline: 0;
              color: white;
              .placeholder-color(@text-color-fade);
            }
          }
        }
      }
    }
    .block-deal {
      margin-left: 800px;
      .row-label {
        margin-bottom: 20px;
        .label {
          .panel();
          line-height: 50px;
          display: inline-block;
          font-weight: bold;
          font-size: 20px;
          text-align: center;
          width: 270px;
        }
      }
      .block-header {
        font-size: 20px;
        color: @text-color-bright;
        line-height: 64px;
        &::before {
          content: "";
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-top: 16px;
          margin-right: 12px;
          vertical-align: top;
          background: url(../img/minbing_title.png) 50% 50% no-repeat;
        }
        .btn-delete {
          margin: 0 26px;
          width: 108px;
          height: 64px;
          display: inline-block;
          background: url(../img/delete_btn.png) 50% 50% no-repeat;
          background-size: 108px;
          color: white;
          text-align: center;
          font-size: 16px;
        }
        .link-deal {
          font-size: 16px;
          color: #1dff82;
          text-decoration: underline;
        }
      }
      .block-body {
        font-size: 18px;
        textarea {
          width: 100%;
          line-height: 28px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          background: none;
          color: inherit;
          .border-box();
        }
        input.block-input {
          font-size: 18px;
          width: 100%;
          .border-box();
          line-height: 26px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          background: none;
          color: inherit;
        }
      }
      .block-action {
        margin-top: 58px;
        a.btn-add {
          display: inline-block;
          margin-left: -6px;
          width: 319px;
          height: 83px;
          line-height: 83px;
          background: url(../img/huiyi_btn.png);
          font-size: 23px;
          color: @text-color-bright;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}

#page.page-plan-deal {
  .block-subtitle {
    .pretty-box-dark();
    height: 58px;
    line-height: 58px;
    color: @text-color-normal;
    font-size: 20px;
    padding-left: 82px;
    margin-bottom: 30px;
  }
  .section-title {
    .pretty-box();
    text-align: center;
    font-size: 20px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .section-content {
    margin: 34px 0;
    padding: 30px 74px;
    .border-box();
    width: 100%;
    display: inline-block;
    .panel();
    .section-filter {
      clear: left;
      float: left;
      width: 240px;
      margin-right: 60px;
      .block-selector {
        .panel();
        margin-bottom: 25px;
        ul.list {
          line-height: 50px;
          text-align: center;
          .float-wrapper();
          label {
            display: block;
            .check-icon {
              display: inline-block;
              width: 18px;
              height: 18px;
              background: url(../img/uncheck_icon.png);
              vertical-align: top;
              margin: 16px;
            }
            input[type="checkbox"] {
              display: none;
              &:checked + .check-icon {
                background-image: url(../img/check_icon.png);
              }
            }
          }
          li.item {
            font-size: 20px;
            & > label {
              margin: 0 12px;
              border-bottom: 1px solid @box-border-color;
              .check-icon {
                margin-left: 10px;
                margin-right: 12px;
              }
              &::after {
                content: "";
                display: inline-block;
                vertical-align: top;
                width: 25px;
                height: 50px;
                background: url(../img/dongtai_renwu_open_icon.png) 50% 50% no-repeat;
              }
            }
            &:not(:last-child) {
              border-bottom: 1px solid @box-border-color;
            }
          }
          ul.submenu {
            margin: 12px 0;
          }
          li.subitem {
            font-size: 19px;
            color: @text-color-normal;
            &.selected {
              color: #1dff82;
            }
            label {
              line-height: 50px;
              .check-icon {
                margin: 16px 8px 16px 40px;
              }
            }
          }
        }
      }
    }
    .section-detail {
      float: left;
      ul.soldier-list {
        .clearfix();
        width: 840px;
        li.soldier-item {
          .panel();
          display: inline-block;
          float: left;
          margin-bottom: 18px;
          line-height: 47px;
          width: 400px;
          .border-box();
          padding: 16px 28px;
          position: relative;
          &:nth-child(2n) {
            margin-left: 40px;
          }
          label {
            position: absolute;
            left: 0;
            top: 14px;
            .check-icon {
              margin-left: 10px;
              margin-right: 12px;
            }
          }
          .row {
            font-size: 18px;
            color: @text-color-bright;
            letter-spacing: 0;
            padding-left: 15px;
            .label {
              font-size: 17px;
              color: white;
              margin-right: 1em;
            }
            .item {
              float: left;
            }
            .item-name, .item-title {
              display: inline-block;
              width: 50%;
            }
          }
        }
      }
      .block-sms {
        .block-title {
          font-size: 20px;
          color: @text-color-bright;
          line-height: 64px;
          &::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-top: 16px;
            margin-right: 12px;
            vertical-align: top;
            background: url(../img/minbing_title.png) 50% 50% no-repeat;
          }
        }
        .block-content {
          textarea {
            width: 100%;
            line-height: 28px;
            padding: 10px 20px;
            border: 1px solid @panel-border-color;
            background: none;
            color: inherit;
            .border-box();
          }
        }
      }
      .block-action {
        margin: 60px 0;
        a.btn-save {
          width: 319px;
          height: 83px;
          display: block;
          line-height: 83px;
          text-align: center;
          color: @text-color-bright;
          font-size: 20px;
          font-weight: bold;
          background: url(../img/denglu_btn.png) 50% 50% no-repeat;
        }
      }
    }
  }
}

#page.page-plan-edit {
  .block-subtitle {
    .pretty-box-dark();
    height: 58px;
    line-height: 58px;
    color: @text-color-normal;
    font-size: 20px;
    padding-left: 82px;
    margin-bottom: 30px;
  }
  .section-content {
    margin: 34px 0;
    padding: 30px 54px;
    .border-box();
    .float-wrapper();
    .panel();
    .row-label {
      margin-bottom: 20px;
      .label {
        .panel();
        line-height: 50px;
        display: inline-block;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        width: 270px;
      }
    }
    .section-plan {
      .block-header {
        font-size: 20px;
        color: @text-color-bright;
        line-height: 64px;
        &::before {
          content: "";
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-top: 16px;
          margin-right: 12px;
          vertical-align: top;
          background: url(../img/minbing_title.png) 50% 50% no-repeat;
        }
        .btn-delete {
          margin: 0 26px;
          width: 108px;
          height: 64px;
          display: inline-block;
          background: url(../img/delete_btn.png) 50% 50% no-repeat;
          background-size: 108px;
          color: white;
          text-align: center;
          font-size: 16px;
        }
        .link-deal {
          font-size: 16px;
          color: #1dff82;
          text-decoration: underline;
        }
      }
      .block-body {
        font-size: 18px;
        textarea {
          width: 100%;
          line-height: 28px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          background: none;
          color: inherit;
          .border-box();
        }
        input.block-input {
          font-size: 18px;
          width: 100%;
          .border-box();
          line-height: 26px;
          padding: 10px 20px;
          border: 1px solid @panel-border-color;
          background: none;
          color: inherit;
        }
      }
    }
    .block-action {
      margin-top: 58px;
      a.btn-add {
        display: inline-block;
        margin-left: -6px;
        width: 319px;
        height: 83px;
        line-height: 83px;
        background: url(../img/huiyi_btn.png);
        font-size: 23px;
        color: @text-color-bright;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
